In [1]:
# 라이브러리 가져오긔

from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.animal.go.kr/front/awtis/shop/salesList.do?totalCount=4172&pageSize=10&sWrkCd=A&menuNo=6000000009&&page=1"

In [3]:
# BeautifulSoup 라이브러리를 이용하여 html 문서 가져오기
result = urlopen(url)
html = result.read()
soup = BeautifulSoup(html, 'html.parser')

In [4]:
def get_info(url) :
    url = url
    result = urlopen(url)
    html = result.read()
    soup = BeautifulSoup(html, 'html.parser')
    # 표에 해당하는 table 태그 찾기
    tables = soup.select('table')
    # 하나의 테이블 태그 선택하기
    table = tables[0]
    # 테이블 html 정보를 문자열로 변경하기
    table_html = str(table)
    # 판다스의 read_html로 테이블 정보 읽기
    table_df_list = pd.read_html(table_html)
    # 데이터프레임 선택하기
    table_df = table_df_list[0]
    
    return table_df

In [5]:
url = "https://www.animal.go.kr/front/awtis/shop/salesList.do?totalCount=4172&pageSize=10&sWrkCd=A&menuNo=6000000009&&page=1"

df_fin = pd.DataFrame()

for i in range(1,419):
    urlfin = url+str(i)
    page = get_info(urlfin)
    df = pd.DataFrame(page)
    df_fin = pd.concat([df_fin, df], axis = 0, ignore_index=True)
    
df_fin

       번호  구분              업체명         전화번호            소재지               인허가번호
0    4072  판매       닥터아이펫 동물병원            -  서울특별시 중랑구 상봉동  306000003720130003
1    4071  판매          펫시랑 상봉점  02-496-7649  서울특별시 중랑구 상봉동  306000003720130004
2    4070  판매              해피독    6401-9585  서울특별시 중랑구 망우동  306000003720130001
3    4069  판매     (주)에이플러스 면목점  ***********  서울특별시 중랑구 면목동  306000003720120004
4    4068  판매           (주)밀레펫  ***********  서울특별시 중랑구 망우동  306000003720120003
..    ...  ..              ...          ...            ...                 ...
985  2187  판매  도그마루 강아지고양이 평택점  ***********    경기도 평택시 비전동  391000003720200029
986  2186  판매            퍼스트 펫            -    경기도 평택시 이충동  391000003720200019
987  2185  판매         캣？ 고양이전문  ***********    경기도 평택시 비전동  391000003720200017
988  2184  판매  달루나캣츠 고양이전문 평택점  ***********    경기도 평택시 비전동  391000003720200007
989  2183  판매              팜스펫  ***********    경기도 평택시 모곡동  391000003720190094

[990 rows x 6 columns]

In [7]:
df_fin.to_csv('동물판매업.csv')

In [8]:
# 표에 해당하는 table 태그 찾기
tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

# 테이블 html 정보를 문자열로 변경하기
table_html = str(table)

# 판다스의 read_html로 테이블 정보 읽기
table_df_list = pd.read_html(table_html)

# 데이터프레임 선택하기
table_df = table_df_list[0]

In [9]:
table_df

,번호,구분,업체명,전화번호,소재지,인허가번호
0,4172,판매 미용,레인독,***********,서울특별시 종로구 명륜2가,300000003720190005
1,4171,판매,요기독 강아지랑 고양이랑 서울종로점,***********,서울특별시 종로구 창신동,300000003720190001
2,4170,판매 전시 위탁관리 미용,미션코리아,***********,서울특별시 종로구 효제동,300000003720180017
3,4169,판매,미화조류,***********,-,300000003720160004
4,4168,판매,한밭애조원,***********,-,300000003720160003
5,4167,판매,삼성조류,02-763-1103,-,300000003720160005
6,4166,판매,가든조류원,***********,-,300000003720160001
7,4165,판매,형제조류,***********,-,300000003720160002
8,4164,판매,애뚜애뚜,02-2233-7943,서울특별시 중구 신당동,301000003720190009
9,4163,판매,강아지,***********,서울특별시 중구 신당동,301000003720180001