In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('/Users/minji/PMJ/MJ/군집 마스터리.csv')

,mean,Unnamed: 1,Unnamed: 2,2.34E+00,3.62E+00,2.91E-01,2.72E-01,1.66E+00,1.22E+00,2.60E+00,1.07E+00,4.47E+00,6.81E-01,1.08E+00,6.26E+00,9.91E+00,4.21E-15,-1.34E-15
0,NaN,df,NaN,park,beauty,cafe,deliver,equip,food,hospital,manage,pharmacy,play,restaurant,sell,cluster,pca_x,pca_y
1,NaN,df1,mean,2,11.141844,0.91489362,1,1.58156028,1.27659574,5.29078014,0.17021277,7.58865248,0,0.81560284,8.35460993,1,11.0039923,-0.2538425
2,NaN,df1,max,2,13,1,1,3,4,7,1,10,0,3,10,1,12.722537,1.84188308
3,NaN,df10,mean,1.342105263,0.378947368,0,0,0.073684211,0.015789474,0.194736842,0.252631579,0.2,0.526315789,0.389473684,1.484210526,10,-4.954760624,-5.883003209
4,NaN,df10,max,2,2,0,0,1,1,2,1,1,1,3,4,10,-3.300618996,-3.93631363
5,NaN,df11,mean,3.699115044,1.982300885,0,0,3.522123894,4.433628319,1.362831858,2.097345133,2.097345133,1,2.725663717,6.89380531,11,-1.42298961,-0.396662508
6,NaN,df11,max,5,3,0,0,6,8,2,3,6,1,3,11,11,0.711696879,1.867231235
7,NaN,df12,mean,2.37037037,0,0,0,3.222222222,0.481481481,3.944444444,3.314814815,4.907407407,0,1,11.81481481,12,0.91818221,3.58453091
8,NaN,df12,max,3,0,0,0,5,1,5,4,8,0,1,15,12,2.808212539,5.699144517
9,NaN,df13,max,5,4,2,0,3,4,3,2,7,3,1,4,13,-4.071421707,0.687248061
10,NaN,df13,mean,2.927038627,1.763948498,0.223175966,0,1.656652361,2.493562232,1.47639485,0.094420601,4.64806867,1.892703863,0.154506438,1.678111588,13,-5.54888887,-1.112525751
11,NaN,df14,mean,2.358208955,10.52238806,0.925373134,1,2.388059701,1,6.76119403,1.164179104,8.641791045,0,0.910447761,12.17910448,14,3.646566636,10.6914654
12,NaN,df14,max,3,12,1,1,5,1,9,3,12,0,1,14,14,5.731716737,13.26815473
13,NaN,df15,max,2,5,1,1,3,1,6,2,7,1,3,9,15,-2.157132717,5.326988058
14,NaN,df15,mean,1.88372093,2.43255814,0.376744186,0.037209302,1.065116279,0.190697674,3.479069767,0.390697674,4.534883721,0.36744186,1.48372093,5.013953488,15,-4.695920731,2.370587582
15,NaN,df16,max,3,12,1,1,6,2,10,4,13,0,2,21,16,7.210992223,17.73901966
16,NaN,df16,mean,2.458333333,10.27777778,0.75,1,3.569444444,0.986111111,7.75,2.222222222,10.01388889,0,1.069444444,17.18055556,16,5.27543809,15.27549354
17,NaN,df17,mean,2.612244898,8.836734694,0.680272109,0.836734694,1.721088435,1.108843537,4.156462585,1.537414966,4.918367347,0,1.129251701,10.08843537,17,-1.418659547,8.895816578
18,NaN,df17,max,3,9,1,1,4,3,7,3,7,0,2,13,17,0.230691674,10.84772568
19,NaN,df18,max,5,3,2,0,4,9,3,3,9,3,2,7,18,-5.006300256,7.167570624
20,NaN,df18,mean,4.316091954,2.068965517,0.287356322,0,2.729885057,3.379310345,2.442528736,1.436781609,6.189655172,1.83908046,0.41954023,4.856321839,18,-6.900472272,4.843286075
21,NaN,df19,max,2,2,1,0,3,2,2,2,6,2,2,4,19,-9.26620945,3.04149191
22,NaN,df19,mean,1.383064516,0.330645161,0.02016129,0,0.290322581,0.620967742,0.629032258,0.274193548,3.487903226,0.790322581,0.181451613,1.383064516,19,-11.04898321,1.237636394
23,NaN,df2,mean,2.010204082,8.397959184,0.020408163,0.397959184,1.397959184,0.316326531,1.734693878,2.255102041,2,0,1,10.10204082,2,8.713428407,-2.73677024
24,NaN,df2,max,3,9,1,1,3,1,4,3,4,0,1,13,2,10.91788491,-0.262325809
25,NaN,df3,max,5,6,2,0,4,4,3,3,5,3,3,7,3,6.059052283,-3.564210164
26,NaN,df3,mean,4.118421053,2.967105263,0.092105263,0,1.769736842,1.644736842,2.105263158,2.223684211,2.552631579,1.401315789,1.256578947,6.236842105,3,4.583236796,-5.455932643
27,NaN,df4,max,3,1,0,0,3,2,3,3,3,1,3,11,4,5.235483487,-4.115353648
28,NaN,df4,mean,2.282828283,0.212121212,0,0,1.202020202,0.303030303,0.727272727,1.252525253,0.404040404,0.333333333,1.666666667,7.96969697,4,3.187039572,-6.251181907
29,NaN,df5,max,3,3,1,0,7,1,8,5,14,0,2,22,5,14.18029634,8.657865185
30,NaN,df5,mean,2.863157895,0.157894737,0.063157895,0,5.368421053,0.526315789,6.557894737,3.431578947,11.88421053,0,1.021052632,19.23157895,5,12.10357201,6.275099272
31,NaN,df6,max,4,3,1,0,3,3,3,2,4,3,3,6,6,1.809113726,-4.379045456
32,NaN,df6,mean,2.166666667,0.715151515,0.003030303,0,0.833333333,0.187878788,1.333333333,0.921212121,1.342424242,0.945454545,2.375757576,4.087878788,6,0.087959373,-6.280710782
33,NaN,df7,max,3,6,1,1,6,2,9,4,11,1,2,17,7,9.485651782,6.578515471
34,NaN,df7,mean,2.152542373,2.881355932,0.576271186,0.06779661,2.389830508,0.949152542,6.06779661,1.847457627,8.050847458,0.118644068,0.915254237,12.72881356,7,6.787171955,3.394585241
35,NaN,df8,max,4,9,1,1,4,4,4,4,11,2,3,10,8,5.580248124,4.008688952
36,NaN,df8,mean,1.67699115,5.349557522,0.504424779,0.712389381,2.800884956,2.482300885,3.146017699,1.230088496,7.115044248,0.486725664,1.89380531,7.592920354,8,3.395287244,1.320538031
37,NaN,df9,max,5,9,2,1,3,4,4,2,6,3,2,8,9,2.998644862,2.109110963
38,NaN,df9,mean,1.983471074,8.921487603,0.785123967,0.925619835,0.590909091,0.661157025,2.276859504,0.012396694,3.82231405,0.214876033,0.636363636,5.582644628,9,1.511800477,0.44807762
39,NaN,df0,mean,1.728,0.536,0.008,0,2.032,1.488,2.424,1.792,7.416,0.968,0.304,3.96,0,6.001668013,-7.46748897
40,NaN,df0,max,3,2,1,0,3,2,5,3,10,2,2,8,0,9.077034359,-3.882697263