In [27]:
import pandas as pd
from geojson import Point, Feature, FeatureCollection, dump

In [28]:
data1 = pd.read_csv("../Data/정환/반려동물용품점.csv", encoding="cp949")
data2 = pd.read_csv("../Data/정환/애견동반가능식당.csv")
data3 = pd.read_csv("../Data/정환/애견동반카페최종.csv", encoding="cp949")

In [29]:
data1

      Unnamed: 0       사업장명                         주소         위도          경도
0              0   테이블에이 본점  서울 마포구 와우산로 146 그레이스빌딩 1층  37.554061  126.929517
1              1       다온펫샵   서울 마포구 신촌로14길 20 태인빌딩 1층  37.555195  126.933348
2              2     애디앤루이스         서울 마포구 성미산로 160 1층  37.564454  126.924003
3              3   폴리파크 홍대점           서울 마포구 동교로 192-1  37.557267  126.922783
4              4  개밥하우스 마포점           서울 마포구 월드컵북로 109  37.562902  126.913578
...          ...        ...                        ...        ...         ...
1051        1051     에코앤세이브           경기 부천시 산업로7번길 73  37.531417  126.780113
1052        1052       도그싸롱           서울 강서구 금낭화로17길 3  37.575132  126.811453
1053        1053        라니펫         서울 서대문구 남가좌동 277-2  37.503062  126.901044
1054        1054    펫랜드 부천점             경기 부천시 도약로 239  37.510863  126.775415
1055        1055       펫블라썸    서울 은평구 응암동 126-21 B102호  37.525178  126.924877

[1056 rows x 5 columns]

In [30]:
coordinate_df = data1[["사업장명","주소","위도","경도"]]

In [31]:
coordinate_df

           사업장명                         주소         위도          경도
0      테이블에이 본점  서울 마포구 와우산로 146 그레이스빌딩 1층  37.554061  126.929517
1          다온펫샵   서울 마포구 신촌로14길 20 태인빌딩 1층  37.555195  126.933348
2        애디앤루이스         서울 마포구 성미산로 160 1층  37.564454  126.924003
3      폴리파크 홍대점           서울 마포구 동교로 192-1  37.557267  126.922783
4     개밥하우스 마포점           서울 마포구 월드컵북로 109  37.562902  126.913578
...         ...                        ...        ...         ...
1051     에코앤세이브           경기 부천시 산업로7번길 73  37.531417  126.780113
1052       도그싸롱           서울 강서구 금낭화로17길 3  37.575132  126.811453
1053        라니펫         서울 서대문구 남가좌동 277-2  37.503062  126.901044
1054    펫랜드 부천점             경기 부천시 도약로 239  37.510863  126.775415
1055       펫블라썸    서울 은평구 응암동 126-21 B102호  37.525178  126.924877

[1056 rows x 4 columns]

In [32]:
features = []
for i in range(0,len(coordinate_df)): 
    point = Point((coordinate_df.loc[i]["경도"], coordinate_df.loc[i]["위도"]))
    features.append(Feature(geometry=point, properties={"name": coordinate_df.loc[i]["사업장명"], "address":coordinate_df.loc[i]["주소"], "type":"동물용품판매점"}))

with open('../Data/정환/동물용품판매점.txt', 'w') as f:
    for item in features:
        f.write("%s\n" % item)

In [33]:
data2

,Unnamed: 0,name,address,lat,long
0,0,38도씨식당,서울 마포구 와우산로17길 19-17 2층,37.549430,126.921615
1,1,데이비드식당,서울 마포구 와우산로 162-4 1층,37.555189,126.930741
2,2,땡스오트 연남점,서울 마포구 성미산로23길 68,37.566274,126.919897
3,3,라오삐약,서울 마포구 희우정로10길 5 1층,37.552733,126.904438
4,4,8810리스트레토바,서울 마포구 월드컵북로6길 88-10,37.559866,126.922997
...,...,...,...,...,...
200,200,효뜨,"서울 용산구 한강대로40가길 6 1,2층",37.565270,126.924633
201,201,와일드그릴,경기 부천시 소사로 549,37.506773,126.797233
202,202,여월가든,경기 부천시 원미로281번길 123,37.511631,126.792574
203,203,뽀독 소사점,경기 부천시 소삼로 47-1 소사역푸르지오 상가125호,37.479482,126.796900
204,204,우주꼬맹이,경기 고양시 덕양구 행주산성로 108 1층,37.600315,126.819983

In [34]:
coordinate_df = data2[["name","address","lat","long"]]

In [35]:
coordinate_df

           name                         address        lat        long
0        38도씨식당         서울 마포구 와우산로17길 19-17 2층  37.549430  126.921615
1        데이비드식당            서울 마포구 와우산로 162-4 1층  37.555189  126.930741
2      땡스오트 연남점               서울 마포구 성미산로23길 68  37.566274  126.919897
3          라오삐약             서울 마포구 희우정로10길 5 1층  37.552733  126.904438
4    8810리스트레토바            서울 마포구 월드컵북로6길 88-10  37.559866  126.922997
..          ...                             ...        ...         ...
200          효뜨          서울 용산구 한강대로40가길 6 1,2층  37.565270  126.924633
201       와일드그릴                  경기 부천시 소사로 549  37.506773  126.797233
202        여월가든             경기 부천시 원미로281번길 123  37.511631  126.792574
203      뽀독 소사점  경기 부천시 소삼로 47-1 소사역푸르지오 상가125호  37.479482  126.796900
204       우주꼬맹이         경기 고양시 덕양구 행주산성로 108 1층  37.600315  126.819983

[205 rows x 4 columns]

In [36]:
features = []
for i in range(0,len(coordinate_df)): 
    point = Point((coordinate_df.loc[i]["long"], coordinate_df.loc[i]["lat"]))
    features.append(Feature(geometry=point, properties={"name": coordinate_df.loc[i]["name"], "address":coordinate_df.loc[i]["address"], "type":"동물동반카페"}))

with open('../Data/정환/동물동반식당.txt', 'w') as f:
    for item in features:
        f.write("%s\n" % item)

In [37]:
data3

,Unnamed: 0,사업장명,주소,위도,경도
0,0,카페로뎀,서울 서대문구 연희로28길 3,37.574620,126.935853
1,1,카페프롬나즈데떼,서울 양천구 오목로 300 206동상가 1층,37.524830,126.870023
2,2,카페미우,서울 용산구 새창로14길 7 1층,37.539185,126.958516
3,3,카페별뜨락,서울 종로구 창의문로 119,37.592097,126.967069
4,4,반하다카페,서울 종로구 자하문로 35-3,37.579044,126.971158
...,...,...,...,...,...
191,202,OMW애견카페애견카페,서울특별시 강서구 화곡로 194-26 1층 OMW dog's cafe,37.541999,126.842614
192,203,커멍커멍애견카페,서울특별시 강서구 강서로 385 우성SB타워 10층 커멍커멍,37.560093,126.838304
193,204,"지디파크카페,디저트",서울특별시 강서구 양천로27길 167 지디파크,37.580401,126.819473
194,205,"댕댕브라더스 Cafe카페,디저트",서울특별시 강서구 공항대로7길 32 1층 102호,37.562422,126.813146
195,206,"프로메나드카페,디저트",경기도 고양시 덕양구 행주산성로120번길 43,37.601090,126.816985

In [38]:
coordinate_df = data3[["사업장명","주소","위도","경도"]]

In [39]:
coordinate_df

,사업장명,주소,위도,경도
0,카페로뎀,서울 서대문구 연희로28길 3,37.574620,126.935853
1,카페프롬나즈데떼,서울 양천구 오목로 300 206동상가 1층,37.524830,126.870023
2,카페미우,서울 용산구 새창로14길 7 1층,37.539185,126.958516
3,카페별뜨락,서울 종로구 창의문로 119,37.592097,126.967069
4,반하다카페,서울 종로구 자하문로 35-3,37.579044,126.971158
...,...,...,...,...
191,OMW애견카페애견카페,서울특별시 강서구 화곡로 194-26 1층 OMW dog's cafe,37.541999,126.842614
192,커멍커멍애견카페,서울특별시 강서구 강서로 385 우성SB타워 10층 커멍커멍,37.560093,126.838304
193,"지디파크카페,디저트",서울특별시 강서구 양천로27길 167 지디파크,37.580401,126.819473
194,"댕댕브라더스 Cafe카페,디저트",서울특별시 강서구 공항대로7길 32 1층 102호,37.562422,126.813146
195,"프로메나드카페,디저트",경기도 고양시 덕양구 행주산성로120번길 43,37.601090,126.816985

In [40]:
features = []
for i in range(0,len(coordinate_df)): 
    point = Point((coordinate_df.loc[i]["경도"], coordinate_df.loc[i]["위도"]))
    features.append(Feature(geometry=point, properties={"name": coordinate_df.loc[i]["사업장명"], "address":coordinate_df.loc[i]["주소"], "type":"동물용품판매점"}))

with open('../Data/정환/동물동반카페.txt', 'w') as f:
    for item in features:
        f.write("%s\n" % item)