In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.animal.go.kr/front/awtis/shop/salesList.do?sWrkCd=B&menuNo=6000000004"

In [3]:
# BeautifulSoup 라이브러리를 이용하여 html 문서 가져오기
result = urlopen(url)
html = result.read()
soup = BeautifulSoup(html, 'html.parser')

In [4]:
def get_info(url) :
    url = url
    result = urlopen(url)
    html = result.read()
    soup = BeautifulSoup(html, 'html.parser')
    # 표에 해당하는 table 태그 찾기
    tables = soup.select('table')
    # 하나의 테이블 태그 선택하기
    table = tables[0]
    # 테이블 html 정보를 문자열로 변경하기
    table_html = str(table)
    # 판다스의 read_html로 테이블 정보 읽기
    table_df_list = pd.read_html(table_html)
    # 데이터프레임 선택하기
    table_df = table_df_list[0]
    
    return table_df

In [5]:
url = "https://www.animal.go.kr/front/awtis/shop/salesList.do?totalCount=2065&pageSize=10&sWrkCd=C&menuNo=6000000004&&page="

df_fin = pd.DataFrame()

for i in range(1, 207) :
    urlfin = url+str(i)
    page_df = get_info(urlfin)
    df = pd.DataFrame(page_df)
    df_fin = pd.concat([df_fin, df], axis = 0, ignore_index=True)
    
df_fin

,번호,구분,업체명,전화번호,소재지,인허가번호
0,2065,생산,강아지백과사전@고양이백과사전,***********,서울특별시 종로구 숭인동,300000003720190004
1,2064,생산,뉴골드,***********,서울특별시 종로구 숭인동,300000003720190002
2,2063,생산,목욕하는고양이,02-,서울특별시 용산구 보광동,302000003720180005
3,2062,생산,강아지발바닥,***********,서울특별시 광진구 구의동,304000003720180007
4,2061,생산,청묘,***********,서울특별시 동대문구 이문동,305000003720200012
...,...,...,...,...,...,...
2055,10,생산,청주캣브리더,***********,충청북도 청주시 흥덕구 석곡동,571000003720180006
2056,9,생산,루이네 뱅갈 브리더,***********,충청북도 청주시 청원구 사천동,571000003720180005
2057,8,생산,또하나의 가족,043-284-6114,충청북도 청주시 서원구 남이면 사동리,571000003720180007
2058,7,생산,Angelinus Cattery,***********,제주특별자치도 제주시 노형동,651000003720190032
2059,6,생산,애월 캐터리 광령,***********,제주특별자치도 제주시 애월읍 광령리,651000003720190027

In [6]:
url = "https://www.animal.go.kr/front/awtis/shop/salesList.do?totalCount=2065&pageSize=10&sWrkCd=C&menuNo=6000000004&&page=207"
page_df = get_info(url)
df = pd.DataFrame(page_df)
df_fin = pd.concat([df_fin, df], axis = 0, ignore_index=True)

In [7]:
df_fin

,번호,구분,업체명,전화번호,소재지,인허가번호
0,2065,생산,강아지백과사전@고양이백과사전,***********,서울특별시 종로구 숭인동,300000003720190004
1,2064,생산,뉴골드,***********,서울특별시 종로구 숭인동,300000003720190002
2,2063,생산,목욕하는고양이,02-,서울특별시 용산구 보광동,302000003720180005
3,2062,생산,강아지발바닥,***********,서울특별시 광진구 구의동,304000003720180007
4,2061,생산,청묘,***********,서울특별시 동대문구 이문동,305000003720200012
...,...,...,...,...,...,...
2060,5,생산,애월캐터리,***********,제주특별자치도 제주시 애월읍 하가리,651000003720190028
2061,4,생산,냥냥이네,***********,제주특별자치도 제주시 한림읍 대림리,651000003720180046
2062,3,생산,앙주스랜드,***********,제주특별자치도 제주시 용담이동,651000003720180015
2063,2,생산,맹구와 땡칠이,***********,제주특별자치도 제주시 이도일동,651000003720160004
2064,1,생산 판매,더 펫츠,***********,제주특별자치도 제주시 한림읍 금악리,651000003720150004

In [10]:
df_fin.to_csv('동물수입업.csv',encoding='euc-kr')

In [9]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2065 entries, 0 to 2064
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      2065 non-null   int64
 1   구분      2065 non-null   object
 2   업체명     2064 non-null   object
 3   전화번호    2065 non-null   object
 4   소재지     2065 non-null   object
 5   인허가번호   2065 non-null   int64
dtypes: int64(2), object(4)
memory usage: 96.9+ KB

In [33]:
#########################################################

In [22]:
# 표에 해당하는 table 태그 찾기
tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

# 테이블 html 정보를 문자열로 변경하기
table_html = str(table)

# 판다스의 read_html로 테이블 정보 읽기
table_df_list = pd.read_html(table_html)

# 데이터프레임 선택하기
table_df = table_df_list[0]

In [23]:
table_df

,번호,구분,업체명,전화번호,소재지,인허가번호
0,125,수입,굿피트,***********,서울특별시 동대문구 답십리동,305000003720200007
1,124,수입,펫스토어1004,***********,서울특별시 중랑구 중화동,306000003720200004
2,123,수입,호펫 강아지 고양이 성신여대본점,0507-1306-9216,서울특별시 성북구 동선동3가,307000003720190010
3,122,수입,도무스 펫샵,***********,서울특별시 은평구 녹번동,311000003720180073
4,121,수입,디지탈디자인(INTERZOO),02-308-8494,서울특별시 은평구 수색동,311000003720140008
5,120,수입,주식회사 코리아팩토리,02-2256-7112,서울특별시 서대문구 홍제동,312000003720200004
6,119,수입,카카오독,***********,서울특별시 강서구 화곡동,315000003720210007
7,118,수입,수아쿠아,***********,서울특별시 금천구 가산동,317000003720190007
8,117,수입,베이비몽,02-6180-0986,서울특별시 영등포구 영등포동4가,318000003720200005
9,116,수입,algok kennel(알곡켄넬),***********,서울특별시 강남구 청담동,322000003720210031